<!DOCTYPE html>
<html lang="en" ng-app="departamentoModule">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Sistema Ticket - OS</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/angular.min.js"></script>

<script src="controll/departamentoControl.js"></script>
<link rel="icon" type="image/ico" href="img/monitor.jpg">
</head>
<body ng-controller="departamentoControl">




	<div ng-include="'menu.html'"></div>

	<div class="panel panel-default">
		<div class="panel-heading">Cadastro de Departamentos</div>
		<div class="panel-body">
			<div>

				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home"
						aria-controls="home" role="tab" data-toggle="tab">Cadastro</a></li>
					<li role="presentation"><a href="#profile"
						aria-controls="profile" role="tab" data-toggle="tab">Dados</a></li>

				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active espaco_entre_botoes"
						id="home">

						<form name="departamentoForm" class="css-form" ng-submit="departamentoForm.$valid && salvar()" novalidate>
						
							<span ng-repeat="mensagem in mensagens">{{mensagem}}<br></span>
							
							<div ng-show="departamentoForm.$submitted">
	 							<div ng-show="departamentoForm.nome.$error.required">Preencha o nome</div>
	 							<div ng-show="departamentoForm.nome.$error.minlength">Nome precisa ter pelo menos 10 caracteres</div>
							</div>
							

							<button type="submit" ng-click="novo();" class="btn btn-primary">Novo</button>
							<button type="submit" ng-click="salvar();"
								class="btn btn-success">Salvar</button>
							<button type="submit" ng-click="excluir();"
								class="btn btn-danger">Excluir</button>
							<button type="submit" class="btn btn-warning" href="#profile" 
								aria-controls="profile" role="tab" data-toggle="tab">Visualizar Departamentos</button>


							<div class="form-group espaco_entre_botoes">
								<label for="exampleInputcodigo" class="col-sm-1 control-label">Código</label>
								<div class="col-sm-5">
									<input type="text" class="form-control"
										ng-model="departamento.codDepartamento" disabled="true"
										placeholder="Codigo">
								</div>
							</div>
							<div class="form-group">
								<label for="exampleInputnome" class="col-sm-1 control-label">Nome</label>
								<div class="col-sm-5">
				<input type="text" class="form-control" name="nome" ng-model="departamento.nome" placeholder="Nome" required=""ng-minlength="10"/>
								</div>
							</div>

						</form>
						
						

					</div>

					<!-- Segunda aba "dados" -->
					<div role="tabpanel" class="tab-pane" id="profile">
						
						<input type="text" class="form-control" ng-model="criterio" placeholder="O que você está procurando?"/><br>

						<table class="table table-striped">
							<!-- th vai ser o nome dos campos da minha tabela -->
							<th>Código</th>
							<th>Nome</th>
							<th>Ação</th>

							<!-- nas tags tr eu vou colocar quais campos vao ser inseridos na minha tabela para isso vai ser usado o angularjs -->
							<tr ng-repeat="departamentoTabela in departamentos| filter:criterio" ng-click="selecionaDepartamento(departamentoTabela);">

								<td>{{departamentoTabela.codDepartamento}}</td>
								<td>{{departamentoTabela.nome}}</td>
								
								<td class="actions">
									<a class="btn btn-success btn-xs" href="#home" aria-controls="home" role="tab" data-toggle="tab">Visualizar</a>
								</td>
							</tr>
						</table>
					</div>

				</div>

			</div>


		</div>
	</div>
</body>

</html>


