<!DOCTYPE html>
<html lang="en" ng-app="tecnicoModule">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>Sistema Ticket OS</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>


<script src="js/angular.min.js"></script>
<script src="js/angular-resource.js"></script>

<script src="controll/tecnicoControl.js"></script>
<link rel="icon" type="image/ico" href="img/monitor.jpg">
</head>
<body ng-controller="tecnicoControl">

	<div ng-include="'menu.html'"></div>

	<div class="panel panel-default">
		<div class="panel-heading">Cadastro de Tecnicos</div>
		<div class="panel-body">

			<div>
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home"
						aria-controls="home" role="tab" data-toggle="tab">Cadastro</a></li>
					<li role="presentation"><a href="#profile"
						aria-controls="profile" role="tab" data-toggle="tab">Dados</a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active espaco_entre_botoes"
						id="home">

						<form class="form-horizontal" name="departamentoForm" class="css-form" ng-submit="departamentoForm.$valid && salvar()" novalidate>
						
							<span ng-repeat="mensagem in mensagens">{{mensagem}}<br></span>
							
							<div ng-show="departamentoForm.$submitted">
	 							<div ng-show="departamentoForm.nome.$error.required">Preencha o nome</div>
	 							<div ng-show="departamentoForm.nome.$error.minlength">Nome precisa ter pelo menos 10 caracteres</div>
	 							<div ng-show="departamentoForm.email.$error.required">Preencha o email</div>
	 							<div ng-show="departamentoForm.email.$error.minlength">O email precisa ter pelo menos 10 caracteres</div>
							</div>
							
							<button type="submit" ng-click="novo();" class="btn btn-primary">Novo</button>
							<button type="submit" ng-click="salvar();"
								class="btn btn-success">Salvar</button>
							<button type="submit" ng-click="excluir();"
								class="btn btn-danger">Excluir</button>
							<button type="submit" class="btn btn-warning" href="#profile" 
								aria-controls="profile" role="tab" data-toggle="tab">Visualizar Tecnicos</button>


							<div class="form-group espaco_entre_botoes">
								<label for="exampleInputcodigo" class="col-sm-1 control-label">Código</label>
								<div class="col-sm-5">
									<input type="text" class="form-control"
										ng-model="tecnico.codTecnico" disabled="true"
										placeholder="Codigo">
								</div>
							</div>
							<div class="form-group">
								<label for="exampleInputnome" class="col-sm-1 control-label">Nome</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" name="nome" ng-model="tecnico.nome" placeholder="Nome" required=""ng-minlength="10"/>
								</div>
							</div>

							<div class="form-group">
								<label for="exampleInputEmail" class="col-sm-1 control-label">Email</label>
								<div class="col-sm-5">
									<input type="text" class="form-control" name="email" ng-model="tecnico.email" placeholder="Nome" required=""ng-minlength="10"/>
								</div>
							</div>

							<div class="form-group">
								<label for="exampleInputStatus" class="col-sm-1 control-label">Status</label>
								<div class="col-sm-5">
									<select class="form-control" ng-model="tecnico.status" />
										<option value="ATIVO">Ativo</option>
										<option value="INATIVO">Inativo</option>
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="exampleInput" class="col-sm-1 control-label">Departamento</label>
								<div class="col-sm-5">
									<select class="form-control" ng-model="tecnico.departamento"
										ng-options="departamento.nome for departamento in departamentos track by departamento.codDepartamento">
									</select>
								</div>
							</div>
						</form>
					</div>

					<!-- Segunda aba "dados" -->
					<div role="tabpanel" class="tab-pane" id="profile">
						<input type="text" class="form-control" ng-model="criterio"
							placeholder="O que você está procurando?" /><br>
						<table class="table table-striped">
							<th>Código</th>
							<th>Nome</th>
							<th>Email</th>
							<th>Status</th>
							<th>Departamento</th>
							<th>Ação</th>

							<!-- nas tags tr eu vou colocar quais campos vao ser inseridos na minha tabela para isso vai ser usado o angularjs -->
							<tr ng-repeat="tecnicoTabela in tecnicos | filter:criterio"
								ng-click="selecionaTecnico(tecnicoTabela);">

								<td>{{tecnicoTabela.codTecnico}}</td>
								<td>{{tecnicoTabela.nome}}</td>
								<td>{{tecnicoTabela.email}}</td>
								<td>{{tecnicoTabela.status}}</td>
								<td>{{tecnicoTabela.departamento.nome}}</td>
								
								<td class="actions">
									<a class="btn btn-success btn-xs" href="#home" aria-controls="home" role="tab" data-toggle="tab">Visualizar</a>
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>